<h1> Welcome to XXX </h1>
<h4> your portal to the unexplored </h4>

<form>
  <%=text_field_tag "q", params[:q], placeholder: "Special interests or must-sees?" %>
  <input type="submit" value ="Search">
</form>

<% if @search %>
  <h5> <%= @search.total %> results </h5>
<% end %>

<%= link_to "Add a new attraction", new_attraction_path %>
<br/>
<br/>
<table>
  <table border="1" 
cellpadding="10">
	<tr>
		<th>Title</th>
		<th>Tagline</th>
    <th>Tags</th>
<% @attractions.each do |attraction| %>
<tr>
<td><%= link_to attraction.title, attraction_path(attraction) %></td>
<td><%= attraction.tagline %></td>
<td><%= raw attraction.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
<td><%= link_to "Edit", edit_attraction_path(attraction) %></td>
<td> <%= link_to "Destroy", attraction_path(attraction), method: :delete, data: {confirm: "Are you sure?"} %></td>
</tr>
<% end %>
</table>


